.container-list {
  display: flex;
  flex-direction: column;
  padding: 1em;
  box-sizing: border-box;
}

.items {
  margin: 0.1em;
  font-size: 2rem;
  flex: 2;
}
.complated {
  text-decoration: line-through;
}
.input-container {
  display: flex;
  flex-direction: column;
  padding: 1em;
  justify-content: space-between;
  box-sizing: border-box;
}
.input-area {
  display: flex;
  flex: 2;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.input-items {
  display: flex;
  flex-direction: row;
  padding: 1em;
  justify-content: space-between;
}

.delete-button {
  background-color: gray;
}
.input-checkbox {
  min-width: 25px;
}
